@model List<toSQL>
@{
    ViewData["Title"] = "100 последних бросков";
}
<h1>@ViewData["Title"]</h1>

<label>@ViewData["fromDB"]</label>
<table spacing="5" style="border: 2px; margin: 5px auto; width: 100%;">
        <tr>
            <td>Номер броска</td>
            <td>Результат</td>
            <td>Граней у кости</td>
            <td>Костей в броске</td>
            <td>Дата броска</td>
            <td>Имя игрока</td>
        </tr>
    @foreach (var fromDB in Model)
     {
        <tr>
            <td>@fromDB.Id</td>
            <td>@fromDB.RollResult</td>
            <td>@fromDB.EdgeCount</td>
            <td>@fromDB.DiceInRoll</td>
            <td>@fromDB.RollTime</td>
            <td>@fromDB.Player</td>
        </tr>
     }
</table>